body, iframe-container, iframe-container iframe {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.iframe-container {
  width: 100vw;
  height: 100vh;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

